<mat-card class="w-80">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title class="justify-self-center self-center">{{
      "#" + pokemon()?.id + " " + (pokemon()?.name | titlecase)
    }}</mat-card-title>
  </mat-card-header>
  <img
    class="w-52 h-52 justify-self-center self-center"
    mat-card-image
    [src]="pokemon()?.sprites?.front_default"
    alt="Photo of a pokemon"
  />
  <mat-card-actions>
    <button mat-button (click)="onClick(pokemon()!)">
      {{ favoritePokemon()?.id === pokemon()?.id ? "UNLIKE" : "LIKE" }}
    </button>
    @if (dialog) {
      <button mat-button (click)="onCloseFn()" class="ml-2">Close</button>
    }
  </mat-card-actions>
</mat-card>
